{
    "glpi_api_url": "SUA_URL_GLPI/apirest.php",
    "glpi_app_token": "SEU_GLPI_APP_TOKEN",
    "glpi_user_token": "SEU_GLPI_USER_TOKEN",
    "glpi_username": "SEU_GLPI_USERNAME",
    "glpi_password": "SEU_GLPI_USERPASSWORD",
    "local_folder": "C:\\CAMINHO\\DA\\PASTA\\LOCAL",
    "s3_bucket": "NOME_DO_BUCKET_S3",
    "entities_id": "SEU_GLPI_ENTITIES_ID"
}
